{% extends  'layout.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">用户信息</div>
        <div class="panel-body">

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>密码</th>
                </tr>
                </thead>
                <tbody>
                {% for user in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.pwd }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <form action="/practice_pagination/" method="post">
                {% csrf_token %}
                输入页面数：
                <input type="text" name="page">
                <input type="submit">
            </form>
            {#    分页的模板代码，用的是Bootstrap分页样式    #}
            <nav aria-label="Page navigation" class="navbar-right" style="margin-right: 5px">
                <ul class="pagination">
                    {#   通过后端返回一个字符串（是html字符串，渲染到这里）  #}
                    {{ html_str }}
                </ul>
            </nav>
        </div>
    </div>




{% endblock %}