<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>老师信息编辑页面</h1>
<div>

    <form action="" method="post">

         老师姓名： <input type="text" name="teacher_name" value="{{ teacher_obj.name }}">
    教室： <select name="class_name" id="" multiple>
            {% for class in class_list %}
                {% if class in teacher_obj.teacher2class.all %}
                    <option value="{{ class.id }}" selected>
                        {{ class.name }}
                    </option>
                {% else %}
                    <option value="{{ class.id }}">
                        {{ class.name }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit">

    </form>

</div>

</body>
</html>