<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        #a1 {
            display: inline-block;
            margin: auto;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 style="text-align: center">Management system</h1>
    <div><a id='a1' href="/show_class/"><button>教室管理</button></a></div>
    <div><a id='a2' href="/show_student/"><button>学生管理</button></a></div>
    <div><a id='a3' href="/show_teacher/"><button>老师管理</button></a></div>

</div>

</body>
</html>