<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        #a1 {
            display: inline-block;
            margin: auto;
        }
    </style>
    <script src="/static/jquery-3.3.1.js"></script>
</head>
<body>

<div class="container">
    <h1 style="text-align: center">Management system</h1>
    <div><a id='a1' href="/show_class/"><button>班级管理</button></a></div>
    <div><a id='a2' href="/show_student/"><button>学生管理</button></a></div>
    <div><a id='a3' href="/show_teacher/"><button>老师管理</button></a></div>
    <form action="https://baidu.com">
        <button type="submit">提交</button>
    </form>

</div>

</body>
</html>