<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        th, tr{
            text-align: center;
        }
    </style>
</head>
<body>


<div class="container">
    <h1 style="text-align: center">
    老师信息
</h1>
    <div>
        <a href="/add_teacher/"><button class="btn btn-primary">添加</button></a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>number</th>
                <th>id</th>
                <th>name</th>
                <th>class</th>
                <th>handle</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teacher_list %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ teacher.id }}</th>
                    <th>{{ teacher.name }}</th>
                    <th>
{#                    {% for class in class_list %}#}
                        {% for class in teacher.teacher2class.all %}
                            {% if forloop.last %}
                                {{ class.name }}
                                {% else %}
                                {{ class.name }}、
                            {% endif %}
                        {% endfor %}
{#                    {% endfor %}#}
                   </th>
                    <th>
                        <a href="/del_teacher/?id={{ teacher.id }}"><button class="btn btn-danger">删除</button></a>
                        <a href="/edit_teacher/?id={{ teacher.id }}"><button class="btn btn-info">编辑</button></a>
                    </th>

                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>