{% extends 'index.html' %}
{% block active2 %}
     active
{% endblock %}
{% block titlename %}
    课程信息
{% endblock %}

{% block message %}
<div><a href="/add_class/"><button class="btn btn-primary">添加</button></a></div>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <td>number</td>
                <td>id</td>
                <td>name</td>
                <td>time</td>
                <td>teacher</td>
                <td>check</td>
                <td>handle</td>
            </tr>
        </thead>
        <tbody>
            {% for class in class_data %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ class.id }}</th>
                    <th>{{ class.name }}</th>
                    <th>{{ class.first_day|date:"Y-m-d" }}</th>

                    <th>
                <a href="/class_in_teacher/?id={{ class.name }}"><button class="btn btn-primary" style="width: 150px">点击查询该班级老师</button></a></th>

                    </th>
                    <th><a href="/class_in_student/?id={{ class.name }}"><button class="btn btn-primary" style="width: 150px">点击查询该班级学生</button></a></th>
                    <th>

                        <a href="/del_class/?id={{ class.id }}"><button class="btn btn-danger">删除</button></a>
                        <a href="/edit_class/?id={{ class.id }}"><button class="btn btn-info">编辑</button></a>
                    </th>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}

